/*
 *  Overrides on the 'lanyon' stylesheet goes in here
 */

html {
  font-family: "Source Sans Pro", "PT Serif", Georgia, "Times New Roman", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", "PT Sans", Helvetica, Arial, sans-serif;
}

code,
pre {
  font-family: source-code-pro, Menlo, Monaco, "Courier New", monospace;
}

.sidebar {
  font-family: "Source Sans Pro", "PT Sans", Helvetica, Arial, sans-serif;
}

.pagination {
  font-family: "Source Sans Pro", "PT Sans", Helvetica, Arial, sans-serif;
}

.masthead-title small {
  font-size: 55%;
  font-weight: 400;
  float: right;
  color: #c0c0c0;
  letter-spacing: 0;
}

/* Dark */
.theme-base-oisin .sidebar,
.theme-base-oisin .sidebar-toggle:active,
.theme-base-oisin #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #0f0f0f;
}
.theme-base-oisin .container a,
.theme-base-oisin .sidebar-toggle,
.theme-base-oisin .related-posts li a:hover {
  color: #0f0f0f;
}

/* Style the `label` that we use to target the `.sidebar-checkbox` */
.sidebar-toggle {
  position: absolute;
  top:  .8rem;
  left: 1rem;
  display: block;
  padding: .25rem .75rem;
  /* color: #505050;*/
/*  background-color: #fff;*/
  border-radius: .25rem;
  cursor: pointer;
}

.sidebar-toggle:before {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  content: "";
  background-image: url(../img/thief.png);
  background-size: contain;
  border-radius: 70%;
}

.sidebar-toggle:active:before,
#sidebar-checkbox:focus ~ .sidebar-toggle:before,
#sidebar-checkbox:checked ~ .sidebar-toggle:before {
  background-image: url(../img/thief-inverted.png)
}

@media (min-width: 30.1em) {
  .sidebar-toggle {
    position: fixed;
  }
}

@media print {
  .sidebar-toggle {
    display: none;
  }
}
